@charset "utf-8";

@use "../base/mixins" as *;

/** @section Header */

#header {
    font-size: 1.4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: var(--outer-margin) var(--outer-margin) 0;
    > * {
        flex-basis: 5rem;
    }
    #search {
        flex-basis: 100vw;
        order: 1;
        margin: 1rem calc(var(--outer-margin) * -1) 0;
    }
    > p {
        a {
            &::before {
                background: url("images/account.svg") no-repeat;
                display: block;
                width: 5rem;
                aspect-ratio: 1;
                content: "";
            }
            > span {
                @include css-visually-hidden;
            }
        }
    }
    @include css-media-queries($from-breakpoint: 768) {
        flex-wrap: initial;
        > * {
            flex-basis: initial;
        }
        #search {
            flex: 1;
            order: initial;
        }
    }
}