@charset "utf-8";

@use "../base/mixins" as *;

/** @section Logo */

#logo {
    path {
        &:first-of-type {
            fill: var(--secondary-colour);
        }
        &:last-of-type {
            fill: var(--primary-colour);
        }
    }
    @include css-media-queries($below-breakpoint: 768) {
        path {
            &:last-of-type {
                display: none;
            }
        }
    }
}