@charset "utf-8";

@use "../base/mixins" as *;

/** @section Search form */

#search {
    padding: 1rem var(--outer-margin);
    border-block: 1px solid;
    p {
        display: flex;
        border: 1px solid;
        border-radius: .5rem;
    }
    label {
        @include css-visually-hidden;
    }
    input {
        border: none;
        &[type="search"] {
            background: transparent; // Safari 16.5- iPad OS
            flex: 1;
            padding: .5rem;
        }
    }
    @include css-media-queries($from-breakpoint: tablet) {
        border-block: none;
    }
}