@charset "utf-8";

@use "../base/mixins" as *;

/** @section Header */

#header {
    font-size: 1.4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: var(--outer-margin) var(--outer-margin) 0;
    > * {
        flex-basis: 5rem;
    }
    #search {
        flex-basis: 100vw;
        order: 1;
        margin: 1rem calc(var(--outer-margin) * -1) 0;
    }
    > p {
        a {
            &::before {
                background: url("images/account.svg") no-repeat;
                display: block;
                width: 5rem;
                aspect-ratio: 1;
                content: "";
            }
        }
    }
    @include css-media-queries($from-breakpoint: single-line-header) {
        flex-wrap: initial;
        align-items: center;
        gap: var(--outer-margin);
        > * {
            flex-basis: initial;
        }
        #search {
            flex: 1;
            order: initial;
            margin: 0;
        }
        #switch-languages,
        > p {
            order: 1;
        }
        #switch-languages {
            flex-basis: 5ch;
        }
    }
    @include css-media-queries($from-breakpoint: two-block-header) {
        display: grid;
        grid-template-columns: 1fr 48rem 5ch 5rem;
        justify-content: end;
        #logo {
            justify-self: start;
        }
        #search {
            flex-basis: 48rem;
        }
    }
    @include css-media-queries($below-breakpoint: wide-button-header) {
        > p {
            a {
                > span {
                    @include css-visually-hidden;
                }
            }
        }
    }
    @include css-media-queries($from-breakpoint: wide-button-header) {
        grid-template-columns: 1fr 48rem 5ch auto;
        > p {
            a {
                font-weight: bold;
                background: var(--secondary-colour);
                text-decoration: none;
                display: flex;
                gap: .3rem;
                align-items: center;
                padding: .4rem;
                border-radius: .5rem;
                &::before {
                    height: 4.4rem;
                }
            }
        }
    }
}