@charset "utf-8";

@use "../base/mixins" as *;

/** @section General layout */

body {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}
#content {
    margin: var(--outer-margin);
    @include css-media-queries($from-breakpoint: four-column-video-cards) {
        max-width: var(--outer-container);
        margin-inline: auto;
    }
}