@charset "utf-8";

/** @section Fonts */

@font-face {
    font-family: NewsCycle;
    src: url("fonts/NewsCycle-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: NewsCycle;
    src: url("fonts/NewsCycle-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}