@charset "utf-8";

@use "../base/mixins" as *;

/** @section Back-office forms */

.back-office-form {
    h2 {
        font-size: 2.4rem;
        text-align: center;
    }
    p {
        font-size: 1.6rem;
        margin-block: 1rem;
        &:not(.extra) {
            display: flex;
            flex-direction: column;
        }
    }
    input,
    select,
    textarea {
        padding: .5rem;
        border-radius: .5rem;
    }
    input {
        &[type="submit"],
        &[type="reset"] {
            font-weight: bold;
        }
        &[type="submit"] {
            background: var(--secondary-colour);
            border: none;
        }
        &[type="reset"] {
            background: transparent;
            border-color: var(--secondary-colour);
        }
    }
    select {
        background: none;
    }
    textarea {
        height: 7.5rem;
        resize: none;
    }
    .precisions {
        font-size: 1.2rem;
    }
    .extra {
        font-size: 1.2rem;
        text-align: center;
    }
    &.confirm {
        p {
            &:last-of-type {
                gap: 1rem;
            }
            &:not(:last-of-type) {
                display: block;
            }
        }
    }
    @include css-media-queries($from-breakpoint: 480) {
        &.confirm {
            p {
                &:last-of-type {
                    flex-direction: initial;
                    input {
                        flex: 1;
                    }
                }
            }
        }
    }
}