@charset "utf-8";

/** @section Back-office forms */

.back-office-form {
    h2 {
        font-size: 2.4rem;
        text-align: center;
    }
    p {
        font-size: 1.6rem;
        margin-block: 1rem;
        &:not(.extra) {
            display: flex;
            flex-direction: column;
        }
    }
    input,
    select {
        padding: .5rem;
        border-radius: .5rem;
    }
    input {
        &[type="submit"] {
            font-weight: bold;
            background: var(--secondary-colour);
            border: none;
        }
    }
    select {
        background: none;
    }
    .precisions {
        font-size: 1.2rem;
    }
    .extra {
        font-size: 1.2rem;
        text-align: center;
    }
}