@charset "utf-8";

@use "../custom-mixins" as *;

/** @section Channel page */

.channel {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    header {
        img {
            @include avatar;
            display: block;
            margin: 1rem auto;
        }
    }
    h1 {
        font-size: 3rem;
        text-align: center;
    }
    .about {
        h2 {
            font-size: 2.4rem;
            text-align: center;
        }
        p {
            font-size: 1.6rem;
            margin-block: 1rem;
        }
        .link {
            font-size: 1.2rem;
        }
    }
}