@charset "utf-8";

/** @section Footer */

#footer {
    text-align: center;
    padding: var(--outer-margin);
    margin-top: auto;
    border-top: 1px solid;
    ul {
        list-style: none;
        margin-bottom: .5rem;
    }
    li {
        display: inline;
    }
}