@charset "utf-8";

/** @section Account */

.back-office-account {
    h2 {
        font-size: 2.4rem;
        text-align: center;
    }
    .breadcrumb {
        font-size: 1.4rem;
        text-align: center;
        margin-block-end: 2rem;
        li {
            display: inline;
            &:not(:first-child) {
                margin-inline-start: 1ch;
                &::before {
                    margin-inline-end: 1ch;
                    content: "\203a";
                }
            }
        }
    }
}