@charset "utf-8";

@use "../base/mixins" as *;

/** @section Account dashboard */

.back-office-account {
    .dashboard {
        font-size: 1.6rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 4rem;
        list-style: none;
        margin-block: 1rem;
        li {
            color: white;
            background-color: var(--primary-colour);
            display: inline-flex;
            flex-direction: column;
            flex-basis: 12rem;
            aspect-ratio: 1;
        }
        a {
            text-align: center;
            display: inline-grid;
            flex: 1;
            align-items: center;
            text-decoration: none;
            padding: 1rem;
        }
        @include css-media-queries($from-breakpoint: 480) {
            flex-wrap: initial;
        }
    }
}