@charset "utf-8";

@use "../base/mixins" as *;

/** @section Videos back-office */

.videos {
    font-size: 1.6rem;
    section {
        padding-block: 1rem;
        &:first-of-type {
            margin-block-start: 1rem;
        }
        &:not(:last-of-type) {
            border-bottom: 1px solid;
        }
    }
    h3 {
        font-size: inherit;
        text-align: center;
    }
    p {
        &:first-child {
            text-align: center;
            margin-block: 1rem;
            a {
                font-weight: bold;
                background: var(--secondary-colour);
                text-decoration: none;
                padding: .5rem;
                border-radius: .5rem;
            }
        }
    }
    ul {
        display: flex;
        gap: 1rem;
        list-style: none;
        li {
            flex: 1;
        }
        a {
            text-align: center;
            text-decoration: none;
            display: block;
            border-radius: .5rem;
        }
        .edit {
            background: var(--secondary-colour);
            padding: .2rem .5rem;
        }
        .remove {
            padding: .1rem .4rem;
            border: 1px solid var(--secondary-colour);
        }
    }
    @include css-media-queries($from-breakpoint: 640) {
        width: 60rem;
        margin-inline: auto;
        section {
            display: flex;
            align-items: center;
        }
        h3 {
            text-align: initial;
            flex: 2;
        }
        ul {
            flex: 1;
        }
    }
}