@charset "utf-8";

@use "../base/mixins" as *;

/** @section Search results */

.search-results {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    h2 {
        font-size: 2.4rem;
        text-align: center;
    }
    @include css-media-queries($from-breakpoint: 690) {
        width: 65rem;
        margin-inline: auto;
    }
}